[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-environ = "*"
djangorestframework = "*"
celery = "*"
openpyxl = "*"
redis = "*"
gunicorn = "*"
drf-yasg = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
mixer = "*"

[requires]
python_version = "3.8"
